{% block content %}
<p>Click <a href="http://ethiosites.herokuapp.com" target="blank"><strong>here</strong></a> to visit projects the author done.</p>
<p>Click <a href="http://ethiosites.herokuapp.com" target="blank"><strong>here</strong></a> to visit projects the author done.</p>
<p>Click <a href="http://ethiosites.herokuapp.com" target="blank"><strong>here</strong></a> to visit projects the author done.</p>
<p>Click <a href="http://ethiosites.herokuapp.com" target="blank"><strong>here</strong></a> to visit projects the author done.</p>


{% endblock %}