<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Contact | Yisehak Abagida</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
  <link href="{% static 'personal/css/starter-template.css' %}" rel="stylesheet">
  <link href="{% static 'personal/css/font-awesome.min.css' %}" rel="stylesheet">

  <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
  <link rel="icon" href="{% static 'personal/favicon/favicon.ico' %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

</head>

<body class="home">

  <header id="header">

    <div id="head" class="parallax" parallax-speed="1">
      <h1 id="logo" class="text-center">
        <span class="title">Contact</span>
      </h1>
    </div>

    <nav class="navbar navbar-default navbar-sticky" style="z-index: 1">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>

        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li><a href='/'>Home</a></li>
            <li><a href='/about/'>About</a></li>
            <li class="active"><a href='/contact/'>Connect</a></li>
            <li><a href='/blog/'>Blog</a></li>
          </ul>

        </div><!--/.nav-collapse -->      
      </div>  
    </nav>
  </header>

  <main id="main">


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Contact me</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="" method="post" >
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- end Modal-->


    <div class="container">
      <div class="row section topspace">
        <div class="col-md-12">

          <p class="lead text-center text-muted">I'm currently looking for freelance opportunities or a full-time job! <a href="#" data-toggle="modal" data-target="#myModal">I'll be glad to hear from you :)</a> </p>
        </div>
      </div> 
    </div>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 widget">
          <h3 class="widget-title"><a href="#" data-toggle="modal" data-target="#myModal">Contact</a></h3>
          <div class="widget-body">
            <p>202-290-6261<br>
              <a href="mailto:#">yishak21@gmail.com</a><br>
              <br>
         1315 Peabody St NW, Washington, DC 20011
            </p>  
          </div>
        </div>

        <div class="col-md-4 widget">
          <h3 class="widget-title"></h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href="https://twitter.com/yishak21" target="blank"><i class="fa fa-twitter fa-2"></i></a>
              <a href="https://plus.google.com/u/0/109203763169424559321" target="blank"><i class="fa fa-google fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href="https://www.facebook.com/Yishaq.ali" target="blank"><i class="fa fa-facebook fa-2"></i></a><br>
            </p>
          </div>
        </div>


        <div class="col-md-4 widget">
          <h3 class="widget-title">Status</h3>
          <div class="widget-body">
            <p>I'm currently looking for freelance opportunities or a full-time job! <a href="/contact/">I'll be glad to hear from you :)</a></p>
          </div>
        </div>


      </div> <!-- /row of widgets -->
    </div>
  </footer>

  <footer id="underfooter">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p>1315 Peabody St NW, Washington, DC 20011</p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              &copy; 2017 All rights reserved, Yisehak Ali Abagida<br> 
              Coded by <a href="http://yishak.herokuapp.com">Yisehak Ali Abagida</a> </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </footer>


    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="{% static 'personal/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'personal/js/template.js' %}"></script>

 <!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->


<!--
              <li><a href='/'>Home</a></li>
              <li><a href='/blog/'>Blog</a></li>
              <li><a href='/contact/'>Contact</a></li>
              <li><a href="">Nav item</a></li>
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>

            </ul>
          </div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>Telecom, Programming</h1>
          <div class='container-fluid'>
            <br><br>
            {% block content %}
            {% endblock %}   
          </div>
        </div>
      </div>
    </div>
  -->

</body>

</html>